PORT=3001
JWT_SECRET=super_secret_jwt_key_develop

# Database Config
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=portfolio_db
DB_PORT=3306

# Cloudinary Integration (Sign up at cloudinary.com for these)
CLOUDINARY_CLOUD_NAME=dk9doqoh6
CLOUDINARY_API_KEY=	945216485767929
CLOUDINARY_API_SECRET=HdcbVmjkcxmy6guUcivJMclVwLs
